$hover-easing: cubic-bezier(0.23, 1, 0.32, 1);
$return-easing: cubic-bezier(0.445, 0.05, 0.55, 0.95);

body {
  margin: 40px 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 500;
  background-color: #BCAAA4;
  -webkit-font-smoothing: antialiased;
}

.title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: #5D4037;
  text-align: center;
}

.container {
  padding: 40px 80px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-wrap {
  margin: 10px;
  perspective: 800px;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card {
  position: relative;
  width: 240px;
  height: 320px;
  background-color: #333;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s linear; // トランジション高速化
  box-shadow: inset 0 0 0 2px rgb(255, 255, 255); // 内側に線を描画
}

.card-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  pointer-events: none;
}

.card-info {
  position: absolute;
  bottom: 0;
  color: white;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
}

.card-info h1 {
  font-size: 1.5rem;
}

.card-info p {
  font-size: 1rem;
  margin-top: 10px;
  line-height: 1.5;
}
